html {
    scroll-behavior: smooth;
}

/* Para hindi mapunta sa front yung navigation bar */
body::before {
    display: block;
    content: "";
    height: 60px;
}

.brand-name {
    font-family: 'Tilt Warp', cursive;;
}

.coding-img {
    width: 38%;
}

.react-img {
    width: 58%;
}

/* Style ng maps */
/* .map-iframe {
    width: 600px;
    height: 350px;
} */

/* Para kapag pinindot yung accordion/FAQ's mag-iiba yung header */
.accordion {
    --bs-accordion-active-bg: #FFC107;
    --bs-accordion-active-color: black;
    --bs-accordion-btn-focus-box-shadow: none;
}

@media (min-width: 1280px) {
    .showcase-header {
        width: 60%;
    }
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

/* @media (max-width: 414px) {
    .map-iframe {
        width: 300px;
        height: 200px;
        align-self: center;
    }
} */
